<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="">
        <button>Log Out</button>
    </header>
    <div class="tradePanel">
        <p class="title">Open a position:</p>
        <div class="panel">
            <p id="availableBalance">Available Balance:</p>
            <div class="tradeInput">
                <p id="currentPrice">Current Price:</p>
                <input class="priceInput"></input>
            </div>
            <button>Buy</button>
            <button>Sell</button>
        </div>
    </div>
    <div class="positionPanel">
        <p class="title">Your Positions: </p>
        <p id="totalValue">Total Value:</p>
        <div class="columnNames">
            <p>Symbol</p>
            <p>Type</p>
            <p>Price Opened</p>
            <p>Current Price</p>
            <p>Profit/Loss</p>
        </div>
    </div>
    <div class="currenciesPanel">
        <p class="title">All Currencies:</p>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>Market Cap</th>
                    <th>Change</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%for(coin of coins){%>
                    <tr>
                        <td><%=coin.symbol%></td>
                        <td><%=coin.name%></td>
                        <td><%=coin.price%></td>
                        <td><%=coin.volume%></td>
                        <td><%=coin.marketCap%></td>
                        <td><%=coin.change%></td>
                        <td><button>Buy/Sell</button></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    <style>

        body {
            font-family: 'Roboto';
        }
        table {
        border-collapse: collapse;
        width: 100%;
        margin: 20px 0;
        }

        th,
        td {
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid #ddd;
        }

        th {
        background-color: #e6e6e6;
        color: #333;
        }

        tbody tr:hover {
        background-color: #f5f5f5;
        }
        button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        transition: 1s;
        }

        button:hover{
            transform: matrix3d(0.583333, 0.186887, 0.79044, 0, -0.52022, 0.833333, 0.186887, 0, -0.623773, -0.52022, 0.583333, 0, 0, 0, 0, 1);
        }

        button:hover {
        opacity: 0.8;
        }

        .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        }
    </style>
</body>
</html>
