<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="">
        <p id="balance">Balance: <%=totalBalance%></p>
        <p id="email" class="email"><%=account.email%></p>
        <button>Log Out</button>
    </header>
    <div class="tradePanel">
        <p class="title">Open a position:</p>
        <div id="panel" class="panel">
            <p id="availableBalance">Available Balance: <%=account.balance%></p>
            <form method="post" id="position" class="tradeInput" action="/positions">
                <select onchange="changeSelect()" name="coin_id" id="coin_id">
                    <% for (coin of coins) { %>
                        <option value="<%= coin.id %>"><%= coin.symbol %></option>
                    <% } %>
                </select>
                <p id="currentPrice">Current Price:</p>
                <p id="valueSpent">value in usd: </p>
                <input onchange="changeAmounts()" id="priceInput" step="0.000001" placeholder="Eg. 0.033" name="amounts" type="number"></input>
                <input name="type" value="Long" type="submit" id="long"></input>
                <input name="type" value="Short" type="submit" id="short"></input>
            </form>
        </div>
    </div>
    <div class="positionsPanel">
        <p class="title">Your Positions: </p>
        <p id="totalValue">Total Value: <%=totalValue%></p>
        <table>
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>Price</th>
                    <th>Amounts</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                <%for(position of positions){%>
                    <tr>
                        <td><%=position.id_coin%></td>
                        <td><%=position.price%></td>
                        <td><%=position.amounts%></td>
                        <td><%=position.date%></td>
                        <td><%=position.type%></td>
                        <td><a href='/positions?id=<%=position.id%>'>Close</a></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    <div class="currenciesPanel">
        <p class="title">All Currencies:</p>
        <table id="coinTable">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Volume 24h</th>
                <th>Market Cap</th>
                <th>Change</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%for(coin of coins){%>
                <tr>
                  <td><img width="50px" src="<%=coin.iconUrl%>"/></td>
                  <td><%=coin.symbol%></td>
                  <td><%=coin.name%></td>
                  <td><%=coin.price%></td>
                  <td><%=coin.volumen24%></td>
                  <td><%=coin.marketCap%></td>
                  <td><%=coin.priceChange%></td>
                  <td><button onClick="changeCurrent(<%=coin.id%>)" id="btnCoin<%=coin.id%>">Buy/Sell</button></td>
                </tr>
              <%}%>
            </tbody>
        </table>
    </div>
    <style>   

        body {
            font-family: 'Roboto';
            margin: 0px;

        }
        table {
            border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border-collapse: separate;
            border-spacing: 0 20px;
        }

        th,
        td {
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid #ddd;
        }

        .tradePanel{
            margin-top: 100px;
            margin-bottom: 100px;
            width: 80%;
            border: #333;
            margin-left: auto;
            margin-right: auto;
        }

        .tradeInput{
            display: grid;
            margin-top: 80px;
            grid-template-columns: 165px 333px 333px ;
            grid-template-rows: 50px 66px 77px 77px;
        }

        a{
            border-radius: 10px;
            width: 100px;
            height: 20px;
            background-color: orange;
            border: none;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-right: 20px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.5s;
            color: black;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        a:hover{
            transform: scale(1.1);
            opacity: 0.8;
        }

        th {
        border: none;
        color: #333;
        }

        tbody tr:hover {
        background-color: #f5f5f5;
        }

        tbody tr{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }

        #long{
            grid-row: 4/5;
            grid-column: 3/4;
            width: 120px;
            height: 45px;
            background: #5DD300;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            border-radius: 5px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 38px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            transition: 0.5s;
        }

        #long:hover{
            opacity: 0.8; 
            transform: scale(1.05);
        }

        #short:hover{
            opacity: 0.8;
            transform: scale(1.05);
        }

        #short{
            grid-row: 4/5;
            grid-column: 3/4;
            margin-left: 150px;
            width: 120px;
            height: 45px;
            background:  #FF3D3D;;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            border-radius: 5px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 38px;
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            transition: 0.5s;
        }

        button {
            border-radius: 10px;
            width: 200px;
            background-color: orange;
            border: none;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-right: 20px;
            font-size: 20px;
            height: 40px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.5s;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .panel{
            display: grid;
            grid-template-columns: 43px 200px 330px 300px;
            grid-template-rows: 100px 33px 60px 80px 80px;
            width: 911px;
            height: 364px;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
        }


        button:hover{
            transform: scale(1.1);
            opacity: 0.8;
        }


        .title {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            margin-bottom: 30px;
            margin-left: 100px;
        }
        header{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: #101014;
            margin-top: -10px;
            width: 100vw;
            height: 100px;
        }
        #email{
            color: whitesmoke;
            margin-right: 20px;
        }
        #balance{
            color: whitesmoke;
            margin-right: 70vw;
        }
        #totalValue{
            margin-left: 145px;
        }

        #priceInput{
            grid-row: 2/3;
            grid-column: 2/5;
            width: 100%;
            height: 45px;
            background: #FFFFFF;
            border: 1px solid #A6A6A6;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding-left: 10px;
            font-size: 24px;
            line-height: 29px;
            color: #7D7D7D;

        }
        #coin_id{
            grid-row: 2/3;
            grid-column: 1/2;
            margin-left: 10px;
            width: 120px;
            height: 45px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;

            background: #FFFFFF;
            border: 1px solid #A6A6A6;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        #valueSpent{
            grid-row: 1/2;
            grid-column: 3/4;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            color: #000000;

        }

        #currentPrice{
            grid-row: 1/2;
            grid-column: 2/3;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            color: #000000;
        }
        #availableBalance{
            grid-row: 1/2;
            grid-column: 4/5;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
        }

    </style>
    <script>
        const myTable = document.getElementById('coinTable');  
        const select = document.getElementById('coin_id');
        const priceInput = document.getElementById('priceInput');
        const currentPrice = document.getElementById('currentPrice');
        const valueSpent = document.getElementById('valueSpent');

        // let tableCounter = 1;

        // for (let row of myTable.rows) {
        //     const btn = document.getElementById('btnCoin'+ tableCounter);
          
            
        //     btn.addEventListener('click', function handleClick(){
        //         select.value = row.cells[0];
        //     });
        //     tableCounter++;
        
        // }   

        // const balance = document.getElementById('balance');  

        function changeAmounts(){
            valueSpent.innerHTML = "value in usd: " +  myTable.rows[select.value].cells[3].innerHTML * priceInput.value;
        }

        function changeSelect(){
            currentPrice.innerHTML="Current price: " + myTable.rows[select.value].cells[3].innerHTML;
        }

        function changeCurrent(id){
            console.log("Funkcja = " , id)
            select.value = id;
            window.scrollTo(0, 0)
            currentPrice.innerHTML="Current price: " + myTable.rows[id].cells[3].innerHTML;
            
        }
    </script>
</body>
</html>

