<%- include('./fragments/header.ejs') %>
    <div id="messageDiv">
        <p id="message" style="color: green;"><%=message%></p>
        <p id="errorMessage" style="color: red;"><%=errorMessage%></p>
    </div>  
    <div class="tradePanel">
        <p class="title">Open a position:</p>
        <div id="panel" class="panel">
            <p id="availableBalance">Available Balance: <%=account.balance%></p>
            <form method="post" id="position" class="tradeInput" action="/positions">
                <select onchange="changeSelect()" name="coin_id" id="coin_id">
                    <% for (coin of coins) { %>
                        <option value="<%= coin.id %>"><%= coin.symbol %></option>
                    <% } %>
                </select>
                <p id="currentPrice">Current Price:</p>
                <p id="valueSpent">value in usd: </p>
                <input onchange="changeAmounts()" id="priceInput" step="0.000001" placeholder="Eg. 0.033" name="amounts" type="number"></input>
                <input name="type" value="Long" type="submit" id="long"></input>
                <input name="type" value="Short" type="submit" id="short"></input>
            </form>
        </div>
        
    </div>
    <div class="positionsPanel">
        <p class="title">Your Positions: </p>
        <p id="totalValue">Total Value: <%=totalValue%></p>
        <table>
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>Price</th>
                    <th>Amounts</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                <%for(position of positions){%>
                    <tr>
                        <td><%=position.id_coin%></td>
                        <td><%=position.price%></td>
                        <td><%=position.amounts%></td>
                        <td><%=position.date%></td>
                        <td><%=position.type%></td>
                        <td><a class="trashCan" href='/positions?id=<%=position.id%>'><img width="30px" src="./img/trashCan.png"></a></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    <div class="currenciesPanel">
        <p class="title">All Currencies:</p>
        <table id="coinTable">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Volume 24h</th>
                <th>Market Cap</th>
                <th>Change</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%for(coin of coins){%>
                <tr>
                  <td><img width="50px" src="<%=coin.iconUrl%>"/></td>
                  <td><%=coin.symbol%></td>
                  <td><%=coin.name%></td>
                  <td><%=coin.price%></td>
                  <td><%=coin.volumen24%></td>
                  <td><%=coin.marketCap%></td>
                  <td><%=coin.priceChange%></td>
                  <td><button class="closeBtn" onClick="changeCurrent(<%=coin.id%>)" id="btnCoin<%=coin.id%>">Buy/Sell</button></td>
                </tr>
              <%}%>
            </tbody>
        </table>
    </div>
    <script src="./js/index.js">

    </script>
</body>
</html>

