<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="./css/index.css"/>
</head>
<body>
    <div class="loginHeader">
        <img class="loginLogo" src="./img/logoWhite.png"/>
    </div>  
    <h1>Log in</h1>
    <form style="margin-top: 100px;" method="post" id="login" class="loginForm" action="/login">
        <input name="email" id="email" placeholder="Eg. satoshi.nakamoto@gmail.com"></input>
        <input type="submit" id="submit"></input>
    </form>
    <div class="currenciesPanel">
        <table style="margin-top: 20px;" id="coinTable">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Volume 24h</th>
                <th>Market Cap</th>
                <th>Change</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%for(coin of coins){%>
                <tr>
                  <td><img width="50px" src="<%=coin.iconUrl%>"/></td>
                  <td><%=coin.symbol%></td>
                  <td><%=coin.name%></td>
                  <td><%=coin.price%></td>
                  <td><%=coin.volumen24%></td>
                  <td><%=coin.marketCap%></td>
                  <td><%=coin.priceChange%></td>
                  <td><button class="closeBtn" onClick="changeCurrent(<%=coin.id%>)" id="btnCoin<%=coin.id%>">Buy/Sell</button></td>
                </tr>
              <%}%>
            </tbody>
        </table>
    </div>
    <style>
        form{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        #email{
            width: 400px;
            height: 40px;   
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            font-family: 'Roboto';
            padding-left: 10px;
            font-size: 20px;
            font-weight: 200;
            border: none;
            color: black !important;
        }
        #submit{
            width: 100px;
            height: 40px;
            font-size: larger;
            border: none;
            background: #F7A600;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto';
        }
        .loginHeader{
            width: 100%;
        }

        .loginLogo{
            width: 100px;
            margin: 10px;
        }

    </style>
</body>
</html>