<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <img src="">
       
        <button>Log Out</button>
    </header>
    <div class="tradePanel">
        <p class="title">Open a position:</p>
        <div class="panel">
            <p id="availableBalance">Available Balance:</p>
            <div class="tradeInput">
                <p id="currentPrice">Current Price:</p>
                <input class="priceInput"></input>
            </div>
            <button>Buy</button>
            <button>Sell</button>
        </div>
    </div>
    <div class="positionPanel">
        <p class="title">Your Positions: </p>
        <p id="totalValue">Total Value:</p>
        <div class="columnNames">
            <p>Symbol</p>
            <p>Type</p>
            <p>Price Opened</p>
            <p>Current Price</p>
            <p>Profit/Loss</p>
        </div>
       
    </div>
    <div class="currenciesPanel">
        <p class="title">All Currencies:</p>
        <div class="columnNames">
            <p>Symbol</p>
            <p>Name</p>
            <p>Price</p>
            <p>Volume</p>
            <p>Market Cap</p>
            <p>Change</p>
        </div>
        <% for(coin of coins) {%>
            <div class="position">
                <img src=""/>
                <p class="symbol"><%=coin.symbol%></p>
                <p class="name"><%=coin.name%></p>
                <p class="price"><%=coin.price%></p>
                <p class="volume"><%=coin.volume%></p>
                <p class="marketcap"><%=coin.marketCap%></p>
                <p class="change"><%=coin.change%></p>
                <button>Buy/Sell</button>
            </div>
        <%}%>
    </div>

</body>
</html>